.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 2em;
  box-sizing: border-box;
  border: 2px white solid;
  border-radius: 10px;
  width: 60%;
  height: 10%;
}

@media (orientation: landscape) {
  .Button {
    font-size: 1em;
    width: 30%;
    padding: 0;
  }
}

@media (orientation: portrait) and (min-width: 600px) {
  .Button {
    width: 30%;
    font-size: 2em;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .Button {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .Button {
    width: 15%;
  }
}
