.WeatherBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  border: 1px solid rgba(73, 8, 158, 0.4);
  background-color: rgba(73, 8, 158, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  margin: 0 auto;
  font-size: 1.3em;
}

p strong {
  font-size: 1.5em;
}

img {
  margin: 0 auto;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media (orientation: landscape) {
  .WeatherBlock {
    font-size: 0.5em;
  }
  .WeatherBlock img {
    height: 50%;
    width: auto;
  }
}

@media (min-width: 800px) {
  p {
    margin: 0 auto;
    font-size: 2em;
  }

  p strong {
    font-size: 2em;
  }
}

/* Will be applied to mobile devices */
@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 1000px) {
  p {
    margin: 0 auto;
    font-size: 2em;
  }

  p strong {
    font-size: 2em;
  }

  .desk-col-1 {
    width: 8.33%;
  }
  .desk-col-2 {
    width: 16.66%;
  }
  .desk-col-3 {
    width: 25%;
  }
  .desk-col-4 {
    width: 33.33%;
  }
  .desk-col-5 {
    width: 41.66%;
  }
  .desk-col-6 {
    width: 50%;
  }
  .desk-col-7 {
    width: 58.33%;
  }
  .desk-col-8 {
    width: 66.66%;
  }
  .desk-col-9 {
    width: 75%;
  }
  .desk-col-10 {
    width: 83.33%;
  }
  .desk-col-11 {
    width: 91.66%;
  }
  .desk-col-12 {
    width: 100%;
  }
}
